<!-- HEAD -->
<%- include('./partials/head.ejs') %>
<!-- NAVBAR -->
<%- include('./partials/navbar.ejs') %>
<!-- MAIN CONTENT -->
<section class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-between">
    <!-- INGRIDIENTS SECTION -->
    <%- include('./partials/ingredientSection.ejs') %>
    <!-- RECIPES SECTION -->
    <%- include('./partials/recipesSection.ejs') %>
</section>
<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
<script type="module" src="/public/scripts/pickyourmeal.js"></script>
<!-- END OF BODY -->
<%- include('./partials/body.ejs') %>